<?publish head ?>
	<script type="text/javascript" charset="utf-8">HixIO.meta = <?attr meta ?>;</script>
	<script src="/static/js/index.js" type="text/javascript" charset="utf-8"></script>
<?end publish ?>

<div class="pure-g-r">
	<div class="pure-u-1-6">
		<div class="l-box">
			<div id="menu" class="pure-menu pure-menu-open">
				<a class="pure-menu-heading">hix.io</a>
				<ul>
					<li><a href="#!posts"><i class="fa fa-pencil fa-large fa-fw"></i>blog</a></li>
					<li><a href="#!pics"><i class="fa fa-camera fa-large fa-fw"></i>pics</a></li>
					<li><a href="#!urls"><i class="fa fa-link fa-large fa-fw"></i>urls</a></li>
					<li><a href="/admin"><i class="fa fa-lock fa-large fa-fw"></i>admin</a></li>
				</ul>
			</div>
		</div>
	</div>
	<div class="pure-u-2-3">
		<div class="l-box">
			<div id="messages"></div>
			<div id="main"></div>
		</div>
	</div>
	<div class="pure-u-1-6"></div>
</div>

