<?publish head ?>
<script type="text/javascript" src="js/site.js"></script>
<?end publish ?>

<div class="pure-g main">
	<div class="pure-u-1 pure-u-md-1-6"><!-- spacer --></div>
	<div class="pure-u-1 pure-u-md-1-6 nav-box">
		<p><img src="/static/images/knot_3_wolves.jpg" alt="hix.io"></p>
		<h1><a href="/">hix.io</a></h1>
		<ul>
			<li><a href="/urls">urls</a></li>
			<li><a href="http://code.hix.io/">code</a></li>
		</ul>
		<p><b>&#x2235;</b></p>
	</div>
	<div class="pure-u-1 pure-u-md-1-2 content-box">
		<div class="column-pad">
			<h2>What Now?</h2>
			<p>
				Lorem ipsum dolor sit amet, consectetur adipiscing elit. Mauris ac mi placerat, eleifend libero vel, accumsan orci. Praesent at nisi vehicula, sollicitudin lacus eu, posuere neque. Maecenas sapien lorem, porttitor id dui ac, auctor elementum ex. Donec lobortis quam quis purus facilisis scelerisque. Phasellus non vestibulum urna. Nulla facilisi. Nulla facilisi. Nulla sit amet dictum sapien. Morbi viverra suscipit tortor in volutpat. Praesent metus ipsum, porta a neque sed, tristique ullamcorper sapien.
			</p>
			<p>
				Aenean tincidunt mauris est, eu faucibus sapien luctus ac. Nulla elementum vulputate ultrices. Sed sit amet sodales neque. Duis ac erat ac purus laoreet viverra. <a>Donec</a> id luctus eros, id pellentesque mi. Vestibulum et malesuada libero. Morbi mauris magna, ultricies in consequat sed, porta ac lorem.
			</p>
			<p>
				Vestibulum aliquam tellus ut congue imperdiet. Nullam faucibus scelerisque nibh vel porttitor. In libero nunc, lacinia in pulvinar quis, sodales at enim. Nunc porta nunc eget felis bibendum varius. Nunc suscipit venenatis magna, vitae scelerisque nibh gravida non. Vivamus id neque vel nunc feugiat iaculis. Proin ac tellus eget neque interdum pretium non a sem. Aliquam aliquam massa sed ante lacinia consectetur. Phasellus felis urna, efficitur sit amet risus vitae, elementum tincidunt enim. Sed vel lobortis velit. Morbi vitae elit blandit, iaculis orci eu, mattis nibh.
			</p>
			<p>
				Integer elementum dolor non justo commodo, cursus finibus risus faucibus. Phasellus et tellus non mi blandit scelerisque. Aenean aliquam lobortis ex, in efficitur nibh placerat nec. Integer risus augue, aliquet non dui sed, dictum vestibulum erat. Fusce cursus justo non lacus laoreet, nec auctor justo auctor. Nam nec tincidunt risus. Aliquam in tortor accumsan, pellentesque nunc sed, feugiat massa.
			</p>
			<p>
				Quisque molestie porta orci id fringilla. Vestibulum viverra lorem ut felis auctor iaculis. Fusce ultrices interdum justo, id consequat nisl tristique vitae. Proin tempor auctor nisi non facilisis. Nunc dictum et risus eu suscipit. Class aptent taciti sociosqu ad litora torquent per conubia nostra, per inceptos himenaeos. In ante risus, dictum a mauris nec, porta iaculis turpis. Duis fermentum non tellus ac egestas. Mauris nisi dolor, fermentum vel tempus et, mollis ac eros. Quisque ornare pretium urna, id mollis justo.
			</p>
		</div>
	</div>
	<div class="pure-u-1 pure-u-md-1-6"><!-- spacer --></div>
</div>
