<!doctype html!>
<html>
	<head>
		<meta charset="utf-8" />

		<title><?subscribe title || 'hix.io' ?></title>

		<meta name="author" content="Michael Hix" />
		<meta name="copyright" content="Copyright 2014 Michael Hix" />
		<meta name="description" content="My blog, code repository, and URL shortener." />
		<meta name="keywords" content="hix.io code urls blog ruby" />

		<meta name="robots" content="noindex, nofollow" />

		<meta http-equiv="cache-control" content="no-cache" />
		<meta http-equiv="pragma" content="no-cache" />

		<link rel="stylesheet" href="/static/css/pure-min.css" type="text/css" media="screen" charset="utf-8">
		<!--[if lte IE 8]>
			<link rel="stylesheet" href="/static/css/grids-responsive-old-ie-min.css">
		<![endif]-->
		<!--[if gt IE 8]><!-->
			<link rel="stylesheet" href="/static/css/grids-responsive-min.css">
		<!--<![endif]-->

		<link rel="stylesheet" href="/static/css/style.css" type="text/css" media="screen" charset="utf-8">
		<link rel="stylesheet" href="/static/css/highlight/googlecode.min.css" type="text/css" media="screen" charset="utf-8">
		<link rel="stylesheet" href="/static/css/font-awesome.min.css" type="text/css" media="screen" charset="utf-8">

		<!-- If all of our scripts are well-behaved, nothing needs to go in the body. -->
		<script src="/static/js/lib/jquery.min.js" type="text/javascript" charset="utf-8"></script>
		<script src="/static/js/lib/can.js" type="text/javascript" charset="utf-8"></script>
		<script src="/static/js/lib/highlight.min.js" type="text/javascript" charset="utf-8"></script>

		<script src="/static/js/hix_io.js" type="text/javascript" charset="utf-8"></script>

		<?subscribe head ?>
	</head>
	<body>
		<?attr body ?>
	</body>
</html>
