<% posts.each( function(post) { %>
	<div class="post">
		<h2><%== can.route.link(post.attr('title'), {id: post.attr('id')}, {}); %></h2>
		<hr>
		<p class="post-meta">Updated: <%= post.attr('updated_at') %></p>
		<p><%== post.attr("body"); %></p>
	</div>
<% }); %>
<div id="pager"></div>
