<div class="post">
<h2>Search Results for '<%= q %>'</h2>
<% if(posts.length > 0) { %>
	<ul>
	<% posts.each( function(post) { %>
		<li>
		<%== can.route.link(post.attr('title'), {id: post.attr('id')}, {}); %><br>
		<%= post.attr('updated_at') %>
		</li>
	<% }); %>
	</ul>
<% } else { %>
	<p>No posts matched.</p>
<% } %>
</div>
<div id="search_pager"></div>
