
/* Import both 300 and 400 so we get a 'real' bold face. */
@import url(http://fonts.googleapis.com/css?family=Open+Sans:300,400);

/* For source code listings. */
@import url(http://fonts.googleapis.com/css?family=Source+Code+Pro:300);

html, button, input, select, textarea,
.pure-g [class *= "pure-u"],
.pure-g-r [class *= "pure-u"] {
	font-family: "Open Sans", sans-serif;
	font-size: 10pt;
	font-weight: 300;
	color: #565d64;
}

html, body {
	min-height: 100%;
}

body {
	position: relative;
	background: #e0e0e0;
}

h1, h2, h3, h4, h5, h6, h7 {
	font-weight: 300;
}

a {
	color: #00a0ff;
}

a:hover {
	color: #00a0ff;
}

a:active {
	color: #00a0ff;
}

a:focus {
	color: #00a0ff;
}

a:visited {
	color: #0070d0;
}

pre {
	overflow: auto;
	border: 1px #d0d0d0 dotted;
	padding: 0.25em;
	background-color: #fafafa;
	font-family: "Source Code Pro", monospace;
	font-size: 9pt;
}

pre > code {
	word-wrap: normal;
	white-space: pre;
	background-color: inherit !important;
	font-family: "Source Code Pro", monospace;
	font-size: 9pt;
}

div#main > div.loading {
	margin: 0 auto;
	height: 128px;
	width: 128px;
	background: transparent url('/images/loading.gif') no-repeat center top;
}

.small {
	font-size: 80%;
}

.l-box {
	padding: 1em 0.5em;
}

.pure-menu {
	margin-bottom: 1em;
}

.pure-menu li a:active,
.pure-menu li a:focus,
.pure-menu li a:hover {
	background-color: #fff6e6;
	color: #e08000 !important;
}

.pure-menu-selected a {
	background-color: #e6f6ff;
	color: #0080e0 !important;
}

.pure-menu-heading {
	color: #000000 !important;
}

/* Post Styles */

.post {
	margin: 0 0 1em 0;
	/*border: 1px #b7b7b7 solid;*/
	-webkit-border-radius: 2px;
	-moz-border-radius:    2px;
	border-radius:         2px;
	padding: 1px 1em; /* the vertical padding needs to be set to avoid a bug */
	background: #ffffff;
}

.post-meta {
	margin: 0 0 1em 0;
	font-size: 8pt;
	text-align: right !important;
}

.post > h2 {
	margin-bottom: 0.25em;
	color: #000000;
}

.post > h2 > a {
	text-decoration: none;
	color: inherit;
}

.post > hr {
	margin: 0;
	border: 0;
	height: 1px;
	background-image: -webkit-linear-gradient(left, rgba(0,0,0,0.1), rgba(0,0,0,0.25), rgba(0,0,0,0.1));
	background-image:    -moz-linear-gradient(left, rgba(0,0,0,0.1), rgba(0,0,0,0.25), rgba(0,0,0,0.1));
	background-image:     -ms-linear-gradient(left, rgba(0,0,0,0.1), rgba(0,0,0,0.25), rgba(0,0,0,0.1));
	background-image:      -o-linear-gradient(left, rgba(0,0,0,0.1), rgba(0,0,0,0.25), rgba(0,0,0,0.1));
}

.post > p {
	text-align: justify;
}

/* Pagination Controls */

.pager-box {
	margin: 0 0 1em 0;
	padding: 1.25em;
	text-align: center;
}

.pager-button {
	background-color: #fff;
	color: #000;
}

.pager-button-selected {
	background-color: #e6f6ff;
	color: #0080e0;
}

.pure-button.first {
	border-right: 1px #f0f0f0 solid;
	-webkit-border-radius: 2px 0 0 2px;
	-moz-border-radius:    2px 0 0 2px;
	border-radius:         2px 0 0 2px;
	color: #565D64;
}

.pure-button.prev {
	border-right: 1px #f0f0f0 solid;
	border-radius: 0;
	color: #565D64;
}

.pure-button.next {
	border-left: 1px #f0f0f0 solid;
	border-radius: 0;
	color: #565D64;
}

.pure-button.last {
	border-left: 1px #f0f0f0 solid;
	-webkit-border-radius: 0 2px 2px 0;
	-moz-border-radius:    0 2px 2px 0;
	border-radius:         0 2px 2px 0;
	color: #565D64;
}

/* Search Form */

.menu-input-text {
	width: 100%;
	margin-bottom: 0.25em;
}

.button-success,
.button-error,
.button-warning,
.button-secondary {
	color: white;
	border-radius: 4px;
	text-shadow: 0 1px 1px rgba(0, 0, 0, 0.2);
}

.button-success {
	background: rgb(28, 184, 65); /* this is a green */
}

.button-error {
	background: rgb(202, 60, 60); /* this is a maroon */
}

.button-warning {
	background: rgb(223, 117, 20); /* this is an orange */
}

.button-secondary {
	background: rgb(66, 184, 221); /* this is a light blue */
}

/* Message bar styles */

.message_bar{
	position: fixed;
	z-index: 100;
	top: 100%;
	left: 0;
	width: 100%;
	height: 38pt;
	margin: -38pt 0 0 0;
	border: 0;
	padding: 10pt !important;
	box-shadow: 0 0 5px 2px rgba(0, 0, 0, 0.25);
	font-size: 14pt;
	font-weight: 400;
}

.message_bar p {
	margin: 0;
	border: 0;
	padding: 0;
}

.error-message {
	color: #a00000;
	background: repeating-linear-gradient(45deg, #f0e0e0, #f0e0e0 10px, #f0d7d7 10px, #f0d7d7 20px);
}

.info-message {
	color: #00a0ff;
	background: repeating-linear-gradient(45deg, #e7f7ff, #e7f7ff 10px, #e0f0ff 10px, #e0f0ff 20px);
}

.success-message {
	color: #00a000;
	background: repeating-linear-gradient(45deg, #e0f0e0, #e0f0e0 10px, #d7f0d7 10px, #d7f0d7 20px);
}

.warning-message {
	color: #e08000;
	background: repeating-linear-gradient(45deg, #fff7e7, #fff7e7 10px, #fff0e0 10px, #fff0e0 20px);
}

.validation-error {
	margin: 0 3px;
	border: 1px #ffd0d0 solid;
	-webkit-border-radius: 4px;
	-moz-border-radius: 4px;
	border-radius: 4px;
	padding: 0.5em 0.6em;
	color: #a00000;
	font-weight: 400;
	vertical-align: middle;
}

.arrow_box {
	position: relative;
	background: #ffe7e7;
	border: 1px solid #ffc0c0;
}

.arrow_box:after, .arrow_box:before {
	right: 100%;
	top: 50%;
	border: solid transparent;
	content: " ";
	height: 0;
	width: 0;
	position: absolute;
	pointer-events: none;
}

.arrow_box:after {
	border-color: rgba(255, 231, 231, 0);
	border-right-color: #ffe7e7;
	border-width: 6px;
	margin-top: -6px;
}

.arrow_box:before {
	border-color: rgba(255, 192, 192, 0);
	border-right-color: #ffc0c0;
	border-width: 7px;
	margin-top: -7px;
}

/* Font Awesome - no &nbsp; */

p i.fa,
li i.fa {
	margin: 0 0.25em 0 0 !important;
}

